# This file is a "template" of which env vars need to be defined
# for your application use only on development stages.
# Create real environment variables when deploying to production

# Env name
ENVIRONMENT=develop

# Database
DATABASE_NAME=drupal
DATABASE_USER=drupal
DATABASE_PASSWORD=drupal
DATABASE_HOST=mariadb

# Host
PROJECT_URL=drupal.develop

# Drupal
DRUPAL_ROOT=/var/www/html

# Server
SERVER_ROOT=/var/www/html/web

